## Import Dependencies

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

## Read in csv files

In [3]:
jandata = pd.read_csv("Citibike Data/JC-202001-citibike-tripdata.csv")
febdata = pd.read_csv("Citibike Data/JC-202002-citibike-tripdata.csv")
mardata = pd.read_csv("Citibike Data/JC-202003-citibike-tripdata.csv")
aprdata = pd.read_csv("Citibike Data/JC-202004-citibike-tripdata.csv")
maydata = pd.read_csv("Citibike Data/JC-202005-citibike-tripdata.csv")
jundata = pd.read_csv("Citibike Data/JC-202006-citibike-tripdata.csv")
juldata = pd.read_csv("Citibike Data/JC-202007-citibike-tripdata.csv")
augdata = pd.read_csv("Citibike Data/JC-202008-citibike-tripdata.csv")
sepdata = pd.read_csv("Citibike Data/JC-202009-citibike-tripdata.csv")
octdata = pd.read_csv("Citibike Data/JC-202010-citibike-tripdata.csv")
novdata = pd.read_csv("Citibike Data/JC-202011-citibike-tripdata.csv")
decdata = pd.read_csv("Citibike Data/JC-202012-citibike-tripdata.csv")
jantwentyonedata = pd.read_csv("Citibike Data/JC-202101-citibike-tripdata.csv")

## Combining datasets into one csv file

In [4]:
firstjoin = pd.concat([jandata, febdata, mardata, aprdata,
                       maydata, jundata, juldata, augdata,
                       sepdata, octdata])
finaljoin = pd.concat([firstjoin, novdata, decdata,
                       jantwentyonedata])
finaljoin.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2

In [55]:
# Write new combined dataframe to csv file
finaljoin.to_csv("Citibike Data/202001-202101-bikedata.csv")

In [5]:
# Checking number of records
finaljoin.count()

tripduration               348426
starttime                  348426
stoptime                   348426
start station id           348426
start station name         348426
start station latitude     348426
start station longitude    348426
end station id             348426
end station name           348426
end station latitude       348426
end station longitude      348426
bikeid                     348426
usertype                   348426
birth year                 348426
gender                     348426
dtype: int64

In [8]:
# Checking datatypes of columns
finaljoin.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object